*{ 
	margin: 0; 
	padding: 0;
	list-style:none;
	border:none;
	outline:none;
}
html,body{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.mr0{
	margin: 0px;
}
.mr1{
	margin:1rem;
}
.margin-r-0{
	margin-right: 0rem;
}
.margin-r-1{
	margin-right: 1rem;
}
.margin-l-1{
	margin-left: 1rem;
}
.margin-t-1{
	margin-top: 1rem;
}
.margin-b-1{
	margin-bottom: 1rem;
}
.bg-light-blue{
	background-color: #6D97FF;
}
.bg-white{
	background-color: #fff;
}
.text-white{
	color:#fff;
}
.text-green{
	color: #42bf0d;
}
.text-orange{
	color:#ff8040;
}
.text-blue{
	color:#54a8d6;
}
.text-black-light{
	color: #666;
}
.no-border{
	border: none;
}
.border-bottom{
	border-bottom: 1px solid #e6e6e6;
}
.left{
	float:left;
}
.right{
	float:right;
}
.clear{
	clear:both;
}
.clearfix:after{ 
	content:".";
	display:block;
	clear:both; 
	font-size:0; 
	height:0; 
	overflow:hidden;
}
li{
	list-style:none; 
	vertical-align:middle;
}
a{ 
	text-decoration:none; 
	color:#666;
}
.bg{
	background-color: #f4f4f4;
}
.overflow-hidden{
	overflow: hidden;
}
.header{
	height: 44px;
	line-height:44px ;
	background-color: #6D97FF;
	opacity: 0.8;
	color: #f9f9f9;
	font-size: 18px;
	text-align: center;
	padding: 0px 1rem;
}
.header i{
	width: 5%;
	padding:1rem 0rem;
	font-size: 24px;
}
.header span.title-infor{
	width: 95%;
}
.header span.title-right{
	position: absolute; 
	top:2px;
	right: 5%; 
	font-size: 14px; 
	font-style: normal;
	display: inline;
}
.contain-box{
	margin-bottom:4em ;
	position: relative;
	overflow: hidden;
}
.menu{
	background-color: #fff;
	padding: 0.5em;
	border-bottom: 1px solid #f0f0f0;
	box-shadow: 1px -2px 2px #999;
}
.menu a{
	display: inline-block;
	float: left;
	width: 33.33333%;
}
.menu dl{
	float: left;
	width: 100%;
	text-align: center;
	margin: 0.2em 0;
}
.menu dl dt{
	height: 5rem;
	line-height: 5rem;
}
.menu dl dd{
	font-size: 12px;
	color: #666;
}
.infor-box{
	margin-top:1rem;
	background-color: #fff;
}
.infor-box .infor-header{
	padding:0.6rem;
	margin-bottom: 0.6rem;
	font-size: 16px;
	box-shadow:0px 0px 1px #eee
}
.infor-box .infor-header h4{
	border-left: 3px solid #12bba8;
	padding: 0.4rem 0.6rem;
}
.infor-box .infor-list-cjjb{
	padding:0 2rem 1rem;
}
.infor-box .infor-list-cjjb li{
	float: left;
	margin: 0.6rem;
	border: 1px solid #ccc;
	padding: 0.2rem 0.5rem;
	border-radius: 5px;
	background-color: #f9f9f9;
}
.infor-box .infor-list-cjjb li a{
	text-decoration: none;
	font-size: 12px;
}
.infor-box .infor-list{
	padding:0 2rem 1rem;
}

.infor-box .infor-list li{
	line-height: 1.6em;
	width: 100%;
}
.infor-box .infor-list li.item-box{
	width: 100%;
	height: 8rem;
}
.infor-box .infor-list li.item-box a{
	width: 100%;
	display: inline-block;
}
.infor-box .infor-list li a i{
	margin-right: 0.5rem;
	color: #666;
}
.infor-box .infor-list li.item-box a .item-box-pic{
	width: 40%;
	height: 7.2rem;
}
.infor-box .infor-list li.item-box a .item-box-pic img{
	width: 100%;
	padding: 0rem 1rem 0rem 0rem;
	height: 7.2rem;
}
.infor-box .infor-list li.item-box a .item-box-info{
	position:relative;
	width: 60%;
	height: 7.2rem;
	line-height: 1.8rem;
    overflow:hidden;
    font-size: 12px;
}
.infor-box .infor-list li.item-box a .item-box-info::after{
	content:"...";
    font-weight:bold;
    position:absolute;
    bottom:0;
    right:0;
    padding:0 58px 1px 10px;
    background:#fff;
}
.infor-box .infor-list li a:hover{
	text-decoration: none;
}
.footer{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	border-top: 1px solid #f0f0f0;
}

.footer a{
	display: inline-block;
	float: left;
	width: 33.3333%;
}
.footer a:hover{
	text-decoration: none;
}
.footer a dl{
	text-align: center;
}
.footer a dl dt{
	font-size: 22px;
	color: #999;
}
.footer a dl dd{
	font-size: 10px;
	color: #999;
}
.footer a dl.active dt{
	color: #498bfc !important;
}
.footer a dl.active dd{
	color: #498bfc !important;
}

/*用户登录页面 login*/
.user-login-infor{
	margin:2rem 1rem 1rem 1rem;
}
.username{
	position: relative;
}
.username-txt{
	position:absolute; 
	top:0px; 
	right: 1px;
	width: 100px;
}

/*个人中心 personal-center*/
.login-infor-box{
	display:inline-block;
	width: 100%;
	height: 12rem;
	padding: 1rem;
	box-shadow: 1px 0px 1px #6D97FF;
	background: #FFF;
	background:-webkit-linear-gradient(top,#efeff4,#6D97FF;);
	background:-moz-linear-gradient(top,#efeff4,#6D97FF;);
}
.user-icon{
	width: 30%;
	height:10rem;
}
.user-icon img{
	width: 100px;
	height: 100px;
}
.user-login{
	width: 70%;
	height: 10rem;
}
.user-doctor{
	width: 70%;
	height: 10rem;
}
.user-login dl{
	margin: 1rem;
	height:9rem;
}
.user-login dl dt{
	font-size: 16px;
	color: #333;
	line-height: 2.4rem;
	margin-top: 1rem;
}
.user-login dl dd{
	font-size: 13px;
	color: #666;
	line-height: 1.4rem;
}
.user-doctor dl dd {
	font-size: 13px;
	color: #f9f9f9;
	line-height: 2.4rem;
	
}
.user-login i{
	margin:3.4rem 2rem;
	font-size: 30px;
}
.login-infor-menu ul{
	margin: 1rem 0rem;
	box-shadow: 1px 0px 2px #e0e0e0;
}
.login-infor-menu ul li{
	line-height: 2.8rem;
	padding: 0.6rem 2rem;
	border-bottom: 1px solid #e9e9e9;
	
}
.login-infor-menu ul li:last-child{
	border-bottom: none;
	
}
.login-infor-menu ul li a{
	font-size: 16px;
	color: #666;
}
.login-infor-menu ul li a:hover{
	text-decoration: none;
}
.login-infor-menu ul li a img{
	margin-right: 0.6rem;
}
.Esc-btn-box{
	padding: 1rem 2rem;
}

/*支付页面*/
.pay-infor{
	width: 100%;
	background-color: #fff;
	box-shadow: 1px 0px 3px #e6e6e6;
}
.pay-infor li{
	float: left;
	line-height: 3.4rem;
	width: 21.3333%;
	text-align: center;
	margin: 0px 6%;
}
.pay-infor li.active{
	color: #50a7d4;
	border-bottom:2px solid #50a7d4;
	
}

.pay-item div{
	display:none;
}
.pay-item div.active{
	display: block;
}
.pay-item-list{
	background-color: #fff;
	padding: 0.6rem 0rem;
	margin: 1rem 0rem;
	box-shadow: 1px 0px 3px #e6e6e6;
}
.pay-item-list li{
	padding: 0rem 2rem;
	line-height: 2.2rem;
}
.pay-item-list li span.title{
	font-weight: bold;
	font-size: 15px;
	line-height: 3.2rem;
}
.pay-item-list li.footer-btn{
	text-align: right;
	line-height: 3rem;
	border-top:1px solid #e6e6e6;
	padding-top:0.6rem
}
.pay-item-list li{
	color:#666;
	font-size: 12px;
}
.pay-item-list li span{
	color:#666;
	font-size: 13px;
}
.state-icon{
	font-size: 16px;
	margin-right: 0.4rem;
}
.payway{
	padding: 2rem;
}
.payway{
	width: 100%;
}
.payway dl{
	float: left;
	width:25%;
	text-align: center;
}

/*消息news*/
.news{
	margin: 1rem 0rem;
}
.news .news-box{
	display: none;
}
.news.active .news-box{
	display: block;
}
.news-header{
	height:4rem;
	padding: 0.9rem 2rem;
}
.news-header a{
	text-decoration: none;
}
.news-header i{
	font-size: 20px;
}
.news-box{
	border-top: 1px solid #e9e9e9;
	padding: 1rem 1.4rem;
	color: #666;
}
.news-box li{
	line-height: 2.8rem;
}

/*医生列表*/
.nav-sider{
	background: #fff;
	width:6rem;
	height:100%;
	position:absolute;
	left: 0px;
	top:3.8rem;
	/*box-shadow: 1px 0px 3px #ccc;*/
}
.nav-sider li{
	padding: 0.8rem 0.5rem;
	border-bottom: 1px solid #f0f0f0;
	font-size: 12px;
}
.nav-sider li.active{
	background-color: #6d97e9;
	color: #fff;
}
.doctor-box{
	margin:0.2rem;
	/*height:92vh;
	overflow: hidden;*/
}
.doctor-list{
	background-color: #fff;
	padding:0.4rem;
	border-bottom: 1px dashed #ccc;
}
.doctor-list:last-child{
	border-bottom: none;
}
.doctor-list dt{
	width: 20%;
}
.doctor-list img{
	width: 100%;
}
.doctor-list dd{
	width: 80%;
}
.doctor-list dd p{
	padding: 0.2rem 0.5rem;
	font-size: 12px;
	color: #666;
}

/*医院简介*/
.hospital-pic{
	padding: 1rem;
	background-color: #fff;
	border-bottom: 1px solid #eee;
}
.hospital-pic img{
	width: 100%;
}
.hospital-infor{
	padding: 1rem;
	background-color: #fff;
}
.hospital-infor p{
	text-indent: 2rem;
	color:#444;
}
.label-register {
	font-size: 1.5rem !important;
	margin-left: 20px !important;
	margin-right: 15px !important;
	margin-top: 10px !important;
}
.input-bt-login {
	font-size: 2rem !important;
}
/*扫码页面*/
.CodeScanner-box{
	background: #fff;
	padding: 1rem;
	text-align:center;
}

